<div class="container">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <mat-card class="example-card">
                <mat-card-content>
                    Filter
                </mat-card-content>
            </mat-card>
        </mat-sidenav>
        <mat-sidenav-content>
            <div>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                      </button>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                <mat-card-content>
                      Test asd asd asd asd as das 
                </mat-card-content>
                <mat-card-actions>
                    <span>$1.00</span>
                    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                      </button>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                <mat-card-content>
                      Test asd asd asd asd as das 
                </mat-card-content>
                <mat-card-actions>
                    <span>$1.00</span>
                    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                      </button>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                <mat-card-content>
                      Test asd asd asd asd as das 
                </mat-card-content>
                <mat-card-actions>
                    <span>$1.00</span>
                    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                      </button>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                <mat-card-content>
                      Test asd asd asd asd as das 
                </mat-card-content>
                <mat-card-actions>
                    <span>$1.00</span>
                    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Category</mat-card-subtitle>
                    <button mat-icon-button>
                        <mat-icon>favorite</mat-icon>
                      </button>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                <mat-card-content>
                      Test asd asd asd asd as das 
                </mat-card-content>
                <mat-card-actions>
                    <span>$1.00</span>
                    <button mat-stroked-button color="warn"><mat-icon>add_shopping_cart</mat-icon>Add to cart</button>
                </mat-card-actions>
            </mat-card>
            </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>