<div class="body-container">
    <div class="categories">
        <mat-card>
            <mat-card-content>
                Categories
            </mat-card-content>
        </mat-card>
    </div>
    <div class="products">
        <mat-card class="product" *ngFor="let product of products">
            <img mat-card-image src="https://source.unsplash.com/random/300x300?sig=1" >
            <button mat-icon-button color="warn" style="position: absolute; right: 0;">
                <mat-icon>favorite</mat-icon>
            </button>
            <mat-card-header class="product-header">
                <mat-card-title style="overflow: hidden;">
                    <div class="product-name">Shiba Inu {{product.name}}</div>
                    <div class="product-category">Category</div>
                </mat-card-title>
                <mat-card-subtitle class="price-rating">
                    <div class="price">
                        $1.00
                    </div>
                    <div class="rating">
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="product-action">
                <button mat-stroked-button color="warn">
                    <mat-icon>add_shopping_cart</mat-icon>
                    <span class="add-to-cart">Add to cart</span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>