.container {
    max-width: 1260px;
    justify-content: center;
    margin: -60px auto 0;
    background-color: transparent;
}

.mat-drawer-side {
    border-right: none;
}

.mat-sidenav-container {
    background-color: transparent;
}

mat-sidenav {
    width: 350px;
    background-color: transparent;

    mat-card {
        height: 100px;
    }
}

mat-sidenav-content {
    display: flex;
    justify-content: flex-end;

    div {
        display: flex;
        flex-wrap: wrap;
        margin-left: 40px;
        
        mat-card {
            width: 250px;
            display: flex;
            margin: 20px;
            flex-shrink: 0;
    
            mat-card-header {
                justify-content: space-between;
            }
    
            mat-card-actions {
                justify-content: space-between;
            }
        }
    }
}