.header {
    display: flex;
    margin: 10px auto;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 1600px;

    .header-search {
        display: flex;
        flex-grow: 1;
        margin: auto 20px;

        mat-form-field {
            display: flex;
            flex-grow: 1;
        }
    }

    @media screen and (max-width: 800px) {
        .header-search {
            display: none;
        }
    }
    
    .header-item {
        display: flex;
    }

    .header-buttons {
        display: flex; 
        align-items: center;
    
        button {
            margin: auto 5px;
        }
    }
}

.breadcrumb-title {
    height: 150px;
    flex-grow: 1;
    margin-bottom: -50px;
    background-color: rgb(55, 63, 80);

    .container {
        display: flex;
        max-width: 1600px;
        flex-grow: 1;
        color: white;
        margin: 10px auto 60px;
        justify-content: space-between;

        .title {
            display: flex;
        }
    
        .breadcrumb {
            display: flex;
        }   
    }
}