<mat-toolbar>
    <mat-toolbar-row class="header">
        <div>
            <mat-icon>shopping_basket</mat-icon>
            <span>iShop</span>
        </div>

        <div class="header-search">
            <mat-form-field appearance="outline" floatLabel="auto">
                <input matInput type="text" placeholder="Search for product"/>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="header-buttons">
            <button mat-icon-button>
                <mat-icon color="accent">favorite</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button *ngIf="!isLoggedIn" mat-stroked-button (click)="login()">
                Login
            </button>
            <button *ngIf="isLoggedIn" mat-stroked-button (click)="logout()">
                Logout
            </button>
        </div>  
    </mat-toolbar-row>
    <mat-toolbar-row class="breadcrumb-title">
        <div class="container">
            <div class="title">Catalog</div>
            <div class="breadcrumb">Home > Catalog</div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>